<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Software Developer at
      <a class="underline-link" href="https://www.kbgroupuk.com/" target="_blank">KB Group BD</a> working on a E-Commerce platform. I graduated from
      <a class="underline-link" href="https://www.buet.ac.bd/" target="_blank">Bangladesh University of Engineering and Technology</a>. I earned Bachler of Science in Computer Science and Engineering.
    </p>

    <p>
		I'm a passionate learner who's always willing to learn and work across technologies and domains. I love to explore new technologies and leverage them to solve real-life problems.
    </p>

    <!--<p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my penny board,
      or crossing off another item on my bucket list.
    </p>-->

    <!-- {% include employment-status.html %} -->
  </div>
</section>
